header#main-header{
    height: 72px;
    background: rgba(255, 255, 255, 0.883);
    border-bottom: 1px solid #DDD;
  }
  
  header#main-header .header-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    font: 1em -apple-system;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button{
    color:green;
  }